{%- macro pkgmgr_debian_mirror() -%}
  {%- set default_release = pkgmgr_mirror[ansible_distribution].default -%}
  {%- set debian_release -%}
    {{ ansible_lsb.codename | default(ansible_distribution_release) }}
  {%- endset -%}

  {%- if pkgmgr_mirror[ansible_distribution][debian_release] is defined -%}
    {%- set this_release = pkgmgr_mirror[ansible_distribution][debian_release] -%}
  {%- else -%}
    {%- set this_release = default_release -%}
  {%- endif -%}

  {%- if this_release.components is defined -%}
    {%- set components = this_release.components -%}
  {%- else -%}
    {%- set components = default_release.components -%}
  {%- endif -%}

  {{ this_release.url | default(default_release.url) }} {{ debian_release }} {{ components | join(" ") }}
{%- endmacro -%}

deb {{ pkgmgr_debian_mirror() }}
deb-src {{ pkgmgr_debian_mirror() }}
